.mail-component {
  margin-top: -8px;
  display: flex;
  width: 95%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-right: 15px;
}

.mail {
  font-size: 1.04em;
  font-weight: 500;
  border-radius: 10px;
  flex: 1;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.mail-button {
  border: none;
  border-radius: 10px;
  padding: 8px;
  width: 50px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.dark-mode {
  .mail {
    background-color: rgb(42 52 65);
    color: rgb(210 213 237);
  }
  .mail-button {
    background-color: rgb(99 102 241);
  }
}

.light-mode {
  .mail {
    background-color: rgb(242 242 242);
    color: rgb(17, 22, 32);
    border: 1px solid rgba(0, 0, 0, 0.342);
  }
  .mail-button {
    background-color: rgb(224 231 255);
    border: 1px solid rgba(0, 0, 0, 0.342);
  }
}
