.card-container {
  display: grid;
  grid-template-columns: 370px 300px;
  grid-template-rows: 200px 30px;
  gap: 20px;
}

.card {
  width: 350px;
  height: 220px;
  border-radius: 5%;

  overflow: hidden;
}

.proyecto-informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proyecto-imagen {
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: 5%;
  margin-left: 30px;
  margin-top: 30px;
  transition: margin 0.3s ease;
}

.proyecto-imagen:hover {
  margin-left: 20px;
  margin-top: 20px;
}

@media (width < 750px) {
  .card-container {
    display: block;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .card {
    width: 100%;
    margin: 0;
    aspect-ratio: 16/ 10;
    height: auto;
    margin-top: -30px;
  }
  .proyectos {
    margin: 25px;
  }
}

.dark-mode {
  .card {
    background-color: rgb(43 53 68);
  }
}

.light-mode {
  .card {
    background-color: rgb(213 219 242);
  }
}
