html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.root {
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.dark-mode {
  .root {
    background: linear-gradient(
      135deg,
      rgb(20, 29, 39) 0%,
      rgb(31, 41, 55) 40%,
      rgb(17, 24, 39) 100%
    );
    color: #f1f5f9;
  }
}

.light-mode {
  .root {
    background: linear-gradient(
      145deg,
      #f9f9f9 0%,
      #eaeaea 30%,
      #dfe6e9 60%,
      #ffffff 100%
    );
    color: rgb(71 85 105);
  }
}

.home {
  max-width: 780px;
  min-width: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.linea-horizontal {
  border: none;
  border-top: 1px solid #ccc;
  margin: 50px 15px;
}
