.social-button {
  margin-right: 10px;
  transition: 0.3s ease;
}

.social-button:hover {
  transform: scale(1.1);
  transform: translateY(-3px);
  cursor: pointer;
}

.social-container {
  display: flex;
}

@media (width <640px) {
  .social-container {
    justify-content: center;
    margin-bottom: 20px;
  }
}
